@using DdhpCore.FrontEnd.Models.Api.Read
@model ClubSeasonApi

@{
    ViewBag.Title = "DDHP";
    Layout = "_Layout";
}

<div class="jumbotron">
    <h2>@Model.Year @Model.ClubName</h2>
</div>

<div>
    <h3>Roster</h3>
    <table class="table">
        <thead>
        <tr>
            <th>DraftPick</th><th>Name</th>
            @for (int i = 1; i <= 24; i++)
            {
                <th>@i.ToString("00")</th>
            }
        </tr>
        </thead>
        <tbody>
        @foreach (var contract in Model.Contracts.OrderBy(c => c.DraftPick))
        {
            <tr>
                <td>@contract.DraftPick</td>
                <td>@contract.PlayerName</td>
                @{
                    var statsDict = contract.Stats;
                }
                @for (int i = 1; i <= 24; i++)
                {
                    <td class="stats">@(statsDict.ContainsKey(i) ? statsDict[i]['f'].ToString() : "-")</td>
                }
            </tr>
        }
        </tbody>
    </table>
</div>