@model DdhpCore.FrontEnd.Models.Api.Read.ClubSeason

@{
    ViewBag.Title = "DDHP";
    Layout = "_Layout";
}

<div class="jumbotron">
    <h2>@Model.Year @Model.ClubName</h2>
</div>

<div>
    <h3>Roster</h3>
    <table>
        <thead>
        <tr>
            <th>DraftPick</th><th>Name</th>
            @for (int i = 0; i < 24; i++)
            {
                <th>@i.ToString("00")</th>
            }
        </tr>
        </thead>
        <tbody>
        @foreach (var contract in Model.Contracts.OrderBy(c => c.DraftPick))
        {
            <tr>
                <td>@contract.DraftPick</td>
                <td>@contract.Player.Name</td>
                @{
                    var statsDict = contract.Stats.ToDictionary(q => q.RoundNumber);
                }
                @for (int i = 0; i < 24; i++)
                {
                    <td>@statsDict.ContainsKey(i) ? statsDict[i] : string.Empty</td>
                }
            </tr>
        }
        </tbody>
    </table>
</div>